<div class="main-image-formatter">
    <!-- Loader -->
    <can-loader *ngIf="isLoad"></can-loader>
    <!-- Loader -->

    <div *ngIf="imageEvent">
        <image-cropper [imageChangedEvent]="imageEvent"
            [maintainAspectRatio]="data.control.file.formatImage.aspectRatio? true: false"
            [aspectRatio]="data.control.file.formatImage.aspectRatio" [resizeToWidth]="data.control.file.formatImage.imageWidth"
            (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
            (loadImageFailed)="loadImageFailed()" outputType="both"></image-cropper>
    </div>
    <div class="buttons">
        <button mat-button (click)="onDismiss()">Cancel</button>
        <button mat-raised-button color="primary" (click)="onConfirm()" [disabled]="disableButton">Save</button>
    </div>

</div>