<!-- <h1>Dashboard Page</h1> -->
<!-- <app-month-revenue></app-month-revenue>
  <app-churn style="border: 2px solid red;"></app-churn>
  <app-collection style="border: 2px solid black; width: 50%;"></app-collection>
  <app-ocupancy></app-ocupancy> -->

<!-- <can-loader *ngIf="!properties.length"></can-loader>
<div
  *ngIf="properties"
  class="main-container mat-elevation-z3"
  fxFlex="100%"
  fxLayout="column"
  fxLayout.xs="column"
  fxLayoutWrap
  fxLayoutGap="2%"
  fxLayoutAlign="start"
  style="padding: 15px; margin: 15px 0px"
> -->
<!-- <app-kpi-page></app-kpi-page> -->
<!--
  <h1>Dashboard</h1>
  <div fxFlex="20%" fxLayoutGap="5%" fxLayoutAlign="end">
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <mat-select [(ngModel)]="selectedDate">
        <mat-option  *ngFor="let currentDate of dates"  [value]="currentDate.date">{{ currentDate.type }}</mat-option>
      </mat-select> -->
<!-- <input
        matInput
        [min]="minDate"
        [max]="maxDate"
        [matDatepicker]="picker"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker> -->
<!-- </mat-form-field>

    <mat-form-field>
      <mat-label>Property</mat-label>
      <mat-select [(ngModel)]="propertyId">
        <mat-option *ngFor="let property of properties" [value]="property.id">{{
          property.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div> -->

<!-- <app-month-revenue [selectedDate] = 'selectedDate' ></app-month-revenue> -->
<!-- <div
    fxFlex="100%"
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutWrap
    fxLayoutGap="2%"
    fxLayoutAlign="start"
  >
    <div
      fxFlex="49%"
      fxLayout="column"
      fxLayout.xs="column"
      fxLayoutWrap
      fxLayoutGap="2%"
      fxLayoutAlign="start"
    >
      <app-churn
        [selectedDate]="selectedDate"
        [propertyId]="propertyId"
      ></app-churn>
    </div>

    <div
      fxFlex="49%"
      fxLayout="column"
      fxLayout.xs="column"
      fxLayoutWrap
      fxLayoutGap="2%"
      fxLayoutAlign="start"
    >
      <app-collection
        [selectedDate]="selectedDate"
        [propertyId]="propertyId"
      ></app-collection>
    </div>
  </div>
  <app-ocupancy [propertyId]="propertyId"></app-ocupancy>

  <app-occupancie-table [propertyId]="propertyId"></app-occupancie-table>
</div> -->

<!-- Version 2  components -->

<!-- <app-movement [selectedDate]="selectedDate"
[propertyId]="propertyId"></app-movement> -->
<!-- <app-gender-ratio [selectedDate]="selectedDate"
[propertyId]="propertyId"></app-gender-ratio> -->
<!-- <app-duration-of-stay [selectedDate]="selectedDate"
[propertyId]="propertyId"></app-duration-of-stay> -->
<!-- <app-occupancie-table [selectedDate]="selectedDate"
[propertyId]="propertyId">
</app-occupancie-table> -->
<!-- <app-revenue [selectedDate]="selectedDate"
[propertyId]="propertyId"></app-revenue> -->
<!-- <app-occupancy [selectedDate]="selectedDate"
[propertyId]="propertyId"></app-occupancy> -->
<!-- <app-average-rent [selectedDate]="selectedDate"
[propertyId]="propertyId"></app-average-rent> -->
<!-- <app-property-ticket ></app-property-ticket> -->
 <!-- <app-average-stay-duration
  [propertyId]="propertyId"
></app-average-stay-duration> -->
