.page-loader-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;

    .mat-progress-spinner {
      position: fixed;
      bottom: 50%;
    }
  }